<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosheng.video.dao.mapper.UserFollowingPOMapper">
    <resultMap id="BaseResultMap" type="com.xiaosheng.video.dao.po.UserFollowingPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userId" jdbcType="BIGINT" property="userid"/>
        <result column="followingId" jdbcType="INTEGER" property="followingid"/>
        <result column="groupId" jdbcType="INTEGER" property="groupid"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userId, followingId, groupId, createTime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_following
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_following
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.xiaosheng.video.dao.po.UserFollowingPO">
    insert into t_user_following (id, userId, followingId, 
      groupId, createTime)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{followingid,jdbcType=INTEGER}, 
      #{groupid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.xiaosheng.video.dao.po.UserFollowingPO">
        insert into t_user_following
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userId,
            </if>
            <if test="followingid != null">
                followingId,
            </if>
            <if test="groupid != null">
                groupId,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="followingid != null">
                #{followingid,jdbcType=INTEGER},
            </if>
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaosheng.video.dao.po.UserFollowingPO">
        update t_user_following
        <set>
            <if test="userid != null">
                userId = #{userid,jdbcType=BIGINT},
            </if>
            <if test="followingid != null">
                followingId = #{followingid,jdbcType=INTEGER},
            </if>
            <if test="groupid != null">
                groupId = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaosheng.video.dao.po.UserFollowingPO">
    update t_user_following
    set userId = #{userid,jdbcType=BIGINT},
      followingId = #{followingid,jdbcType=INTEGER},
      groupId = #{groupid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <delete id="deleteUserFollowing">
        delete from
        t_user_following
        where
        userId=#{userId} and followingId =#{followingId}
    </delete>

    <select id="getUserFollowings" resultType="com.xiaosheng.video.dao.po.UserFollowingPO">
        select
        *
        from
        t_user_following
        where userId=#{userId}
    </select>

    <select id="getFans" resultType="com.xiaosheng.video.dao.po.UserFollowingPO">
        select
        *
        from
        t_user_following
        where
        followingId=#{followingId}
    </select>
</mapper>